In [3]:
# Installation de pymongo
!pip install pandas pymongo

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: pymongo in c:\users\gaspard.lugat\appdata\roaming\python\python311\site-packages (4.10.1)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\gaspard.lugat\appdata\roaming\python\python311\site-packages (from pymongo) (2.7.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [9]:
# Importation des packages
import sqlite3
import pandas as pd
import pymongo

#Connexion à MongoDB Compass
URI = "mongodb+srv://mango_user:EaHnlcFPj0coOvc9@cluster-but-sd.8r1up.mongodb.net/?retryWrites=true&w=majority&appName=cluster-but-sd"
client = pymongo.MongoClient(URI)
db = client.sae

# Création de la connexion
conn = sqlite3.connect("ClassicModel.sqlite")

In [13]:
# Extraction des données

# Table Customers
customers = pd.read_sql_query("SELECT * FROM Customers;", conn)

# Table Orders
orders = pd.read_sql_query("SELECT * FROM Orders;", conn)

# Table OrderDetails
orderDetails = pd.read_sql_query("SELECT * FROM OrderDetails;", conn)

# Table Products
products = pd.read_sql_query("SELECT * FROM Products;", conn)

# Table Employees
employees = pd.read_sql_query("SELECT * FROM Employees;", conn)

# Table Offices
offices = pd.read_sql_query("SELECT * FROM Offices;", conn)

# Table Payments
payments = pd.read_sql_query("SELECT * FROM Payments;", conn)

In [15]:
# Transformation des données

# Customers > Payments
customer_payments = [
    payments.query("customerNumber == @customer_id").drop(columns=["customerNumber"]).to_dict(orient="records")
    for customer_id in customers.customerNumber
]
customers_collection = customers.assign(Payments=customer_payments)

# Orders > OrderDetails > Products
order_details_with_products = orderDetails.merge(products, on="productCode", how="left")
order_details_per_order = [
    order_details_with_products.query("orderNumber == @order_id").drop(columns=["orderNumber"]).to_dict(orient="records")
    for order_id in orders.orderNumber
]
orders_collection = orders.assign(OrderDetails=order_details_per_order)

# Employees > Offices
employee_offices = [
    offices.query("officeCode == @office_code").drop(columns=["officeCode"]).to_dict(orient="records")
    for office_code in employees.officeCode
]
employees_collection = employees.assign(Office=employee_offices)


# Insertion dans MongoDB Compass
db.Customers.insert_many(customers_collection.to_dict(orient="records"))
db.Orders.insert_many(orders_collection.to_dict(orient="records"))
db.Employees.insert_many(employees_collection.to_dict(orient="records"))

InsertManyResult([ObjectId('673b0c5f6542422e58894e8c'), ObjectId('673b0c5f6542422e58894e8d'), ObjectId('673b0c5f6542422e58894e8e'), ObjectId('673b0c5f6542422e58894e8f'), ObjectId('673b0c5f6542422e58894e90'), ObjectId('673b0c5f6542422e58894e91'), ObjectId('673b0c5f6542422e58894e92'), ObjectId('673b0c5f6542422e58894e93'), ObjectId('673b0c5f6542422e58894e94'), ObjectId('673b0c5f6542422e58894e95'), ObjectId('673b0c5f6542422e58894e96'), ObjectId('673b0c5f6542422e58894e97'), ObjectId('673b0c5f6542422e58894e98'), ObjectId('673b0c5f6542422e58894e99'), ObjectId('673b0c5f6542422e58894e9a'), ObjectId('673b0c5f6542422e58894e9b'), ObjectId('673b0c5f6542422e58894e9c'), ObjectId('673b0c5f6542422e58894e9d'), ObjectId('673b0c5f6542422e58894e9e'), ObjectId('673b0c5f6542422e58894e9f'), ObjectId('673b0c5f6542422e58894ea0'), ObjectId('673b0c5f6542422e58894ea1'), ObjectId('673b0c5f6542422e58894ea2')], acknowledged=True)

In [16]:
# 1. Lister les clients n’ayant jamais effecuté une commande

q1 = list(db.Customers.aggregate([
    {
        "$lookup": {
            "from": "Orders",
            "localField": "customerNumber",
            "foreignField": "customerNumber",
            "as": "orders"
        }
    },
    {
        "$match": {
            "orders": { "$size": 0 }  
        }
    },
    {
        "$project": {
            "customerNumber": 1,
            "customerName": 1,
            "_id": 0  # Exclure le champ _id
        }
    }
]))

# Afficher le résultat
pd.DataFrame(q1)

     customerNumber                customerName
0               125          Havel & Zbyszek Co
1               168      American Souvenirs Inc
2               169           Porto Imports Co.
3               206  Asian Shopping Network, Co
4               223             Natürlich Autos
..              ...                         ...
115             459            Warburg Exchange
116             465         Anton Designs, Ltd.
117             477         Mit Vergnügen & Co.
118             480   Kremlin Collectables, Co.
119             481          Raanan Stores, Inc

[120 rows x 2 columns]

In [57]:
# 2. Pour chaque employé, le nombre de clients, le nombre de commandes et le montant total de celles-ci

q2 = list(db.Employees.aggregate([
    {
        "$lookup": {
            "from": "Customers",
            "localField": "employeeNumber",
            "foreignField": "salesRepEmployeeNumber",
            "as": "customers"
        }
    },
    {
        "$unwind": {
            "path": "$customers",
            "preserveNullAndEmptyArrays": True
        }
    },
    {
        "$lookup": {
            "from": "Orders",
            "localField": "customers.customerNumber",
            "foreignField": "customerNumber",
            "as": "orders"
        }
    },
    {
        "$lookup": {
            "from": "Payments",
            "localField": "customers.customerNumber",
            "foreignField": "customerNumber",
            "as": "payments"
        }
    },
    {
        "$group": {
            "_id": "$employeeNumber",
            "firstName": { "$first": "$firstName" },
            "lastName": { "$first": "$lastName" },
            "numberOfCustomers": { "$sum": { "$cond": [{ "$ifNull": ["$customers.customerNumber", False] }, 1, 0] } },
            "numberOfOrders": { "$sum": { "$size": "$orders" } },
            "totalOrderAmount": { 
                "$sum": {
                    "$reduce": {
                        "input": "$payments.amount",
                        "initialValue": 0,
                        "in": { "$add": ["$$value", "$$this"] }
                    }
                }
            }
        }
    },
    {
        "$sort": { "_id": 1 }
    }
]))

# Afficher les résultats
pd.DataFrame(q2)

,_id,firstName,lastName,numberOfCustomers,numberOfOrders,totalOrderAmount
0,1002,Diane,Murphy,0,0,0.00
1,1056,Mary,Patterson,0,0,0.00
2,1076,Jeff,Firrelli,0,0,0.00
3,1088,William,Patterson,0,0,0.00
4,1102,Gerard,Bondur,0,0,0.00
5,1143,Anthony,Bow,0,0,0.00
6,1165,Leslie,Jennings,150,4250,27688922.25
7,1166,Leslie,Thompson,150,1750,9451618.00
8,1188,Julie,Firrelli,150,1750,10556436.00
9,1216,Steve,Patterson,150,2250,12775826.00
10,1286,Foon Yue,Tseng,175,2125,12917555.50
11,1323,George,Vanauf,200,2750,16185782.25
12,1337,Loui,Bondur,150,2500,15193280.25
13,1370,Gerard,Hernandez,175,5375,30067615.50
14,1401,Pamela,Castillo,250,3875,20417017.75
15,1501,Larry,Bott,200,2750,19191489.00
16,1504,Barry,Jones,225,3125,19892660.75
17,1611,Andy,Fixter,125,2375,14166072.50
18,1612,Peter,Marsh,125,2375,13318914.75
19,1619,Tom,King,0,0,0.00
20,1621,Mami,Nishi,125,2000,12307925.50
21,1625,Yoshimi,Kato,0,0,0.00
22,1702,Martin,Gerard,150,1500,10304319.75

In [75]:
q3 = list(db.Offices.aggregate([
    # Étape 1 : Lier les bureaux aux employés
    {
        "$lookup": {
            "from": "Employees",
            "localField": "officeCode",
            "foreignField": "officeCode",
            "as": "employees"
        }
    },
    # Étape 2 : Lier les employés aux clients via salesRepEmployeeNumber
    {
        "$unwind": "$employees"
    },
    {
        "$lookup": {
            "from": "Customers",
            "localField": "employees.employeeNumber",
            "foreignField": "salesRepEmployeeNumber",
            "as": "customers"
        }
    },
    # Étape 3 : Lier les clients aux commandes
    {
        "$unwind": "$customers"
    },
    {
        "$lookup": {
            "from": "Orders",
            "localField": "customers.customerNumber",
            "foreignField": "customerNumber",
            "as": "orders"
        }
    },
    # Étape 4 : Lier les clients aux paiements
    {
        "$lookup": {
            "from": "Payments",
            "localField": "customers.customerNumber",
            "foreignField": "customerNumber",
            "as": "payments"
        }
    },
    # Étape 5 : Calculer le nombre de clients, le nombre de commandes, et le montant total des commandes
    {
        "$group": {
            "_id": "$officeCode",
            "officeCity": { "$first": "$city" },
            "totalCustomers": { "$sum": 1 },
            "totalOrders": { "$sum": { "$size": "$orders" } },
            "totalAmount": { 
                "$sum": {
                    "$reduce": {
                        "input": "$payments.amount",
                        "initialValue": 0,
                        "in": { "$add": ["$$value", "$$this"] }
                    }
                }
            },
            "officeCountry": { "$first": "$country" }
        }
    },
    # Étape 6 : Calculer le nombre de clients d'un autre pays
    {
        "$lookup": {
            "from": "Customers",
            "localField": "_id",
            "foreignField": "officeCode",
            "as": "customers_in_other_countries"
        }
    },
    {
        "$addFields": {
            "differentCountryCustomersCount": {
                "$size": {
                    "$filter": {
                        "input": "$customers_in_other_countries",
                        "as": "customer",
                        "cond": { "$ne": ["$$customer.country", "$officeCountry"] }
                    }
                }
            }
        }
    },
    # Étape 7 : Trier par officeCode pour avoir un ordre logique
    {
        "$sort": { "_id": 1 }
    },
    # Étape 8 : Projection des résultats (exclure _id et garder les champs souhaités)
    {
        "$project": {
            "_id": 0,
            "officeCity": 1,
            "totalCustomers": 1,
            "totalOrders": 1,
            "totalAmount": 1,
            "differentCountryCustomersCount": 1
        }
    }
]))

# Afficher les résultats
print(pd.DataFrame(q3))

Empty DataFrame
Columns: []
Index: []

In [ ]:
# Fermeture de la connexion
conn.close()