In [1]:
# Installation de pymongo
!pip install pandas pymongo

Requirement already satisfied: pandas in c:\users\antto\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: pymongo in c:\users\antto\appdata\local\programs\python\python313\lib\site-packages (4.10.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\antto\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\antto\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\antto\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\antto\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\antto\appdata\local\programs\python\python313\lib\site-packages (from pymongo) (2.7.0)
Requirement already satisfied: six>=1.5 in c:\users\antto\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [105]:
# Importation des packages
import sqlite3
import pandas as pd
import pymongo

#Connexion à MongoDB Compass
URI = "mongodb+srv://mango_user:EaHnlcFPj0coOvc9@cluster-but-sd.8r1up.mongodb.net/?retryWrites=true&w=majority&appName=cluster-but-sd"
client = pymongo.MongoClient(URI)
db = client.sae

# Création de la connexion
conn = sqlite3.connect("ClassicModel.sqlite")

In [106]:
# Extraction des données

# Table Customers
customers = pd.read_sql_query("SELECT * FROM Customers;", conn)

# Table Orders
orders = pd.read_sql_query("SELECT * FROM Orders;", conn)

# Table OrderDetails
order_details = pd.read_sql_query("SELECT * FROM OrderDetails;", conn)

# Table Products
products = pd.read_sql_query("SELECT * FROM Products;", conn)

# Table Employees
employees = pd.read_sql_query("SELECT * FROM Employees;", conn)

# Table Offices
offices = pd.read_sql_query("SELECT * FROM Offices;", conn)

# Table Payments
payments = pd.read_sql_query("SELECT * FROM Payments;", conn)

In [107]:
# Transformation des données

# Déduplication des clients
customers_unique = customers.drop_duplicates(subset=["customerNumber"])
customer_payments = [
    payments.query("customerNumber == @customer_id").drop(columns=["customerNumber"]).to_dict(orient="records")
    for customer_id in customers_unique.customerNumber
]
customers_collection = customers_unique.assign(Payments=customer_payments)

# Déduplication des commandes
order_details_with_products = order_details.merge(products, on="productCode", how="left")
order_details_per_order = [
    order_details_with_products.query("orderNumber == @order_id").drop(columns=["orderNumber"]).to_dict(orient="records")
    for order_id in orders.orderNumber
]
orders_collection = orders.assign(OrderDetails=order_details_per_order)

# Déduplication des employés
employees_unique = employees.drop_duplicates(subset=["employeeNumber"])
employee_offices = [
    offices.query("officeCode == @office_code").drop(columns=["officeCode"]).to_dict(orient="records")
    for office_code in employees_unique.officeCode
]
employees_collection = employees_unique.assign(Office=employee_offices)

# Insertion dans MongoDB Compass
db.Customers.insert_many(customers_collection.to_dict(orient="records"))
db.Orders.insert_many(orders_collection.to_dict(orient="records"))
db.Employees.insert_many(employees_collection.to_dict(orient="records"))

InsertManyResult([ObjectId('674371d414fd4b83d8f747f0'), ObjectId('674371d414fd4b83d8f747f1'), ObjectId('674371d414fd4b83d8f747f2'), ObjectId('674371d414fd4b83d8f747f3'), ObjectId('674371d414fd4b83d8f747f4'), ObjectId('674371d414fd4b83d8f747f5'), ObjectId('674371d414fd4b83d8f747f6'), ObjectId('674371d414fd4b83d8f747f7'), ObjectId('674371d414fd4b83d8f747f8'), ObjectId('674371d414fd4b83d8f747f9'), ObjectId('674371d414fd4b83d8f747fa'), ObjectId('674371d414fd4b83d8f747fb'), ObjectId('674371d414fd4b83d8f747fc'), ObjectId('674371d414fd4b83d8f747fd'), ObjectId('674371d414fd4b83d8f747fe'), ObjectId('674371d414fd4b83d8f747ff'), ObjectId('674371d414fd4b83d8f74800'), ObjectId('674371d414fd4b83d8f74801'), ObjectId('674371d414fd4b83d8f74802'), ObjectId('674371d414fd4b83d8f74803'), ObjectId('674371d414fd4b83d8f74804'), ObjectId('674371d414fd4b83d8f74805'), ObjectId('674371d414fd4b83d8f74806')], acknowledged=True)

In [114]:
# 1. Lister les clients n’ayant jamais effecuté une commande

q1 = list(db.Customers.aggregate([
    # Filtrer les clients sans paiement
    {
        "$match": {  
            "$or": [
                {"Payments": {"$exists": False}},  # Le champ Payments n'existe pas
                {"Payments": {"$size": 0}}  # Le champ Payments est vide
            ]
        }
    },
    # Inclure uniquement les champs nécessaires
    {
        "$project": {  
            "customerNumber": 1,
            "customerName": 1,
            "_id": 0
        }
    },
    # Trier par customerNumber
    {
        "$sort": {  
            "customerNumber": 1
        }
    }
]))

# Affichage
pd.DataFrame(q1)

    customerNumber                    customerName
0              125              Havel & Zbyszek Co
1              168          American Souvenirs Inc
2              169               Porto Imports Co.
3              206      Asian Shopping Network, Co
4              223                 Natürlich Autos
5              237                   ANG Resellers
6              247        Messner Shopping Network
7              273               Franken Gifts, Co
8              293               BG&E Collectables
9              303                Schuyler Imports
10             307                Der Hund Imports
11             335       Cramer Spezialitäten, Ltd
12             348           Asian Treasures, Inc.
13             356            SAR Distributors, Co
14             361                 Kommission Auto
15             369          Lisboa Souveniers, Inc
16             376           Precious Collectables
17             409  Stuttgart Collectable Exchange
18             443        Feuer Online Stores, Inc
19             459                Warburg Exchange
20             465             Anton Designs, Ltd.
21             477             Mit Vergnügen & Co.
22             480       Kremlin Collectables, Co.
23             481              Raanan Stores, Inc

In [158]:
# 2. Pour chaque employé, le nombre de clients, le nombre de commandes et le montant total de celles-ci

q2 = db.Employees.aggregate([
    # Désagréger pour avoir une ligne par employé
    {
        "$lookup": {
            "from": "Customers",  # Associer les clients à l'employé
            "localField": "employeeNumber",
            "foreignField": "salesRepEmployeeNumber",
            "as": "customers"
        }
    },
    {
        "$unwind": {
            "path": "$customers",
            "preserveNullAndEmptyArrays": True
        }
    },
    
    # Associer les commandes aux clients
    {
        "$lookup": {
            "from": "Orders",
            "localField": "customers.customerNumber",
            "foreignField": "customerNumber",
            "as": "orders"
        }
    },
    {
        "$unwind": {
            "path": "$orders",
            "preserveNullAndEmptyArrays": True
        }
    },
    
    # Associer les paiements (Transactions)
    {
        "$unwind": {
            "path": "$customers.Payments",
            "preserveNullAndEmptyArrays": True
        }
    },
    
    # Garder les champs nécessaires pour le calcul et l'affichage
    {
        "$project": {
            "TransacAmount": { 
                "$toDouble": "$customers.Payments.amount"  # Montant des paiements
            },
            "customerNumber": "$customers.customerNumber",
            "orderNumber": "$orders.orderNumber",
            "employeeNumber": "$employeeNumber",
            "firstName": "$firstName",
            "lastName": "$lastName"
        }
    },
    
    # Grouper par employé pour calculer les totaux et listes uniques
    {
        "$group": {
            "_id": "$employeeNumber",
            "totalOrderAmount": { "$sum": "$TransacAmount" },
            "numberOfCustomers": { "$addToSet": "$customerNumber" },
            "numberOfOrders": { "$addToSet": "$orderNumber" },
            "firstName": { "$first": "$firstName" },
            "lastName": { "$first": "$lastName" }
        }
    },
    
    # Calculs et formatage des champs
    {
        "$project": {
            "_id": 0,
            "employeeNumber": "$_id",
            "firstname": "$firstName",
            "lastname": "$lastName",
            "numberOfCustomers": { "$size": "$numberOfCustomers" },
            "numberOfOrders": { "$size": "$numberOfOrders" },
            "totalOrderAmount": {
                "$cond": {
                    "if": { "$eq": ["$totalOrderAmount", 0] },
                    "then": "nan",
                    "else": "$totalOrderAmount"
                }
            }
        }
    },
    
    # Trier les résultats par numéro d'employé
    {
        "$sort": { 
            "employeeNumber": 1
        }
    }
])

# Affichage
pd.DataFrame(q2)

,employeeNumber,firstname,lastname,numberOfCustomers,numberOfOrders,totalOrderAmount
0,1002,Diane,Murphy,0,0,nan
1,1056,Mary,Patterson,0,0,nan
2,1076,Jeff,Firrelli,0,0,nan
3,1088,William,Patterson,0,0,nan
4,1102,Gerard,Bondur,0,0,nan
5,1143,Anthony,Bow,0,0,nan
6,1165,Leslie,Jennings,6,34,12674066.13
7,1166,Leslie,Thompson,6,14,943442.48
8,1188,Julie,Firrelli,6,14,1035043.99
9,1216,Steve,Patterson,6,18,1545990.08
10,1286,Foon Yue,Tseng,7,17,1635226.6
11,1323,George,Vanauf,8,22,1870933.55
12,1337,Loui,Bondur,6,20,2093279.51
13,1370,Gerard,Hernandez,7,43,21850743.39
14,1401,Pamela,Castillo,10,31,2580550.55
15,1501,Larry,Bott,8,22,2188718.8
16,1504,Barry,Jones,9,25,2357369.87
17,1611,Andy,Fixter,5,19,2352253.84
18,1612,Peter,Marsh,5,19,2119701.72
19,1619,Tom,King,0,0,nan
20,1621,Mami,Nishi,5,16,1815463.17
21,1625,Yoshimi,Kato,0,0,nan
22,1702,Martin,Gerard,6,12,1014439.14

In [151]:
# 3. Idem pour chaque bureau (nombre de clients, nombre de commandes et montant total), 
#    avec en plus le nombre de clients d’un pays différent, s’il y en a

q3 = list(db.Employees.aggregate([
    # Jointure entre Employees et Offices
    {
        "$unwind": {  # Détacher les informations des bureaux
            "path": "$Office",
            "preserveNullAndEmptyArrays": True
        }
    },
    {
        "$lookup": {  # Associer chaque employé à ses clients
            "from": "Customers",
            "localField": "employeeNumber",
            "foreignField": "salesRepEmployeeNumber",
            "as": "customers"
        }
    },
    {
        "$unwind": {  # Détacher les informations des clients
            "path": "$customers",
            "preserveNullAndEmptyArrays": True
        }
    },
    {
        "$lookup": {  # Associer les clients à leurs commandes
            "from": "Orders",
            "localField": "customers.customerNumber",
            "foreignField": "customerNumber",
            "as": "orders"
        }
    },
    {
        "$unwind": {  # Détacher les informations des commandes
            "path": "$orders",
            "preserveNullAndEmptyArrays": True
        }
    },
    # Ajouter un champ calculé pour le montant total de chaque commande
    {
        "$addFields": {
            "orderAmount": {
                "$sum": {
                    "$map": {
                        "input": "$orders.OrderDetails",
                        "as": "orderDetail",
                        "in": {
                            "$multiply": [
                                {"$ifNull": ["$$orderDetail.quantityOrdered", 0]},
                                {"$ifNull": ["$$orderDetail.priceEach", 0]}
                            ]
                        }
                    }
                }
            }
        }
    },
    # Grouper par bureau
    {
        "$group": {
            "_id": {
                "officeCode": "$officeCode",
                "city": "$Office.city",
                "officeCountry": "$Office.country"
            },
            "numberOfCustomers": {"$addToSet": "$customers.customerNumber"},  # Ensemble des clients uniques
            "numberOfOrders": {"$sum": {"$cond": [{"$gt": ["$orders", None]}, 1, 0]}},  # Nombre total de commandes
            "totalOrderAmount": {"$sum": "$orderAmount"},  # Montant total des commandes
            "customersFromDifferentCountry": {
                "$addToSet": {
                    "$cond": [
                        {"$ne": ["$customers.country", "$Office.country"]},
                        "$customers.customerNumber",
                        None
                    ]
                }
            }
        }
    },
    # Ajouter la taille des ensembles pour les métriques finales
    {
        "$addFields": {
            "numberOfCustomers": {"$size": "$numberOfCustomers"},
            "customersFromDifferentCountry": {
                "$size": {
                    "$filter": {
                        "input": "$customersFromDifferentCountry",
                        "as": "customer",
                        "cond": {"$ne": ["$$customer", None]}
                    }
                }
            }
        }
    },
    # Reformater les champs pour l'affichage final
    {
        "$project": {
            "officeCode": "$_id.officeCode",
            "city": "$_id.city",
            "officeCountry": "$_id.officeCountry",
            "numberOfCustomers": 1,
            "numberOfOrders": 1,
            "totalOrderAmount": 1,
            "customersFromDifferentCountry": 1,
            "_id": 0
        }
    },
    # Trier par officeCode
    {
        "$sort": {"officeCode": 1}
    }
]))

# Affichage
pd.DataFrame(q3)[["officeCode", "city", "officeCountry", "numberOfCustomers", "numberOfOrders", "totalOrderAmount", "customersFromDifferentCountry"]]

,officeCode,city,officeCountry,numberOfCustomers,numberOfOrders,totalOrderAmount,customersFromDifferentCountry
0,1.0,San Francisco,USA,12,48,1588293.29,0
1,2.0,Boston,USA,12,32,987774.17,0
2,3.0,NYC,USA,15,39,1275993.95,3
3,4.0,Paris,France,29,106,3404055.56,17
4,5.0,Tokyo,Japan,5,16,503957.58,3
5,6.0,Sydney,Australia,10,38,1281705.83,5
6,7.0,London,UK,17,47,1604168.80,12

In [139]:
# 4. Pour chaque produit, donner le nombre de commandes, la quantité totale commandée, et le nombre de clients différents

q4 = list(db.Orders.aggregate([
    # Décompresser le tableau OrderDetails
    {"$unwind": "$OrderDetails"},

    # Grouper par productCode pour calculer les métriques
    {
        "$group": {
            "_id": "$OrderDetails.productCode",
            "productName": {"$first": "$OrderDetails.productName"},  # Nom du produit
            "numberOfOrders": {"$sum": 1},  # Nombre total de commandes
            "totalQuantityOrdered": {"$sum": "$OrderDetails.quantityOrdered"},  # Quantité totale commandée
            "uniqueCustomers": {"$addToSet": "$customerNumber"}  # Ensemble des clients uniques
        }
    },

    # Ajouter le nombre de clients différents
    {
        "$addFields": {
            "numberOfDistinctCustomers": {"$size": "$uniqueCustomers"}  # Taille de l'ensemble des clients uniques
        }
    },

    # Supprimer le champ uniqueCustomers pour ne conserver que les données finales
    {
        "$project": {
            "_id": 0,
            "productCode": "$_id",
            "productName": 1,
            "numberOfOrders": 1,
            "totalQuantityOrdered": 1,
            "numberOfDistinctCustomers": 1
        }
    },

    # Trier les résultats par productCode
    {"$sort": {"productCode": 1}}
]))

# Affichage
pd.DataFrame(q4)

,_id,productName,numberOfOrders,quantityOrdered,numberOfCustomers
0,S10_1678,1969 Harley Davidson Ultimate Chopper,28,1026,26
1,S10_1949,1952 Alpine Renault 1300,28,961,27
2,S10_2016,1996 Moto Guzzi 1100i,28,999,26
3,S10_4698,2003 Harley-Davidson Eagle Drag Bike,28,985,25
4,S10_4757,1972 Alfa Romeo GTA,28,1000,27
...,...,...,...,...,...
104,S700_3505,The Titanic,27,952,22
105,S700_3962,The Queen Mary,27,883,24
106,S700_4002,American Airlines: MD-11S,28,1073,26
107,S72_1253,Boeing X-32A JSF,28,960,27
108,S72_3212,Pont Yacht,27,958,24

In [157]:
q5 = db.Customers.aggregate([
    # Désagréger pour avoir une ligne par transaction
    {
        "$unwind": {
            "path": "$Payments",  # Adaptez "Transac" à "Payments" dans votre base
            "preserveNullAndEmptyArrays": True
        }
    },
    
    # Fusionner les commandes avec les clients
    {
        "$lookup": {
            "from": "Orders",
            "localField": "customerNumber",
            "foreignField": "customerNumber",
            "as": "orders"
        }
    },
    
    # Désagréger pour avoir une ligne par commande
    {
        "$unwind": {
            "path": "$orders",
            "preserveNullAndEmptyArrays": True
        }
    },
    
    # Désagréger pour avoir une ligne par commande détaillée
    {
        "$unwind": {
            "path": "$orders.OrderDetails",  # Adaptez "Comm" à "OrderDetails"
            "preserveNullAndEmptyArrays": True
        }
    },
    
    # Garder les champs nécessaires pour les calculs et l'affichage
    {
        "$project": {
            "country": 1,
            "orderNumber": "$orders.orderNumber",
            "CommQuantity": {
                "$cond": {
                    "if": { "$isArray": "$orders.OrderDetails.quantityOrdered" },
                    "then": { "$arrayElemAt": ["$orders.OrderDetails.quantityOrdered", 0] },
                    "else": "$orders.OrderDetails.quantityOrdered"
                }
            },
            "CommPrice": {
                "$cond": {
                    "if": { "$isArray": "$orders.OrderDetails.priceEach" },
                    "then": { "$arrayElemAt": ["$orders.OrderDetails.priceEach", 0] },
                    "else": "$orders.OrderDetails.priceEach"
                }
            },
            "TransacAmount": {
                "$cond": {
                    "if": { "$isArray": "$Payments.amount" },
                    "then": { "$arrayElemAt": ["$Payments.amount", 0] },
                    "else": "$Payments.amount"
                }
            }
        }
    },
    
    # Ajouter les champs calculés pour les totaux des commandes et des transactions
    {
        "$addFields": {
            "CommTotal": {
                "$multiply": [
                    { "$toDouble": "$CommQuantity" },
                    { "$toDouble": "$CommPrice" }
                ]
            },
            "TransacAmount": {
                "$toDouble": "$TransacAmount"
            }
        }
    },
    
    # Grouper par pays pour calculer les totaux et listes uniques
    {
        "$group": {
            "_id": "$country",
            "numberOfOrders": { "$addToSet": "$orderNumber" },
            "totalOrderAmount": { "$sum": "$CommTotal" },
            "totalPaidAmount": { "$sum": "$TransacAmount" }
        }
    },
    
    # Calculs et formatage des champs
    {
        "$project": {
            "_id": 0,
            "country": "$_id",
            "numberOfOrders": { "$size": "$numberOfOrders" },
            "totalOrderAmount": {
                "$cond": {
                    "if": { "$eq": ["$totalOrderAmount", 0] },
                    "then": "nan",
                    "else": "$totalOrderAmount"
                }
            },
            "totalPaidAmount": {
                "$cond": {
                    "if": { "$eq": ["$totalPaidAmount", 0] },
                    "then": "nan",
                    "else": "$totalPaidAmount"
                }
            }
        }
    },
    
    # Trier les résultats par pays
    {
        "$sort": { 
            "country": 1 
        }
    }
])

# Affichage
pd.DataFrame(q5)

         country  numberOfOrders totalOrderAmount totalPaidAmount
0      Australia              19       2182269.38     24825405.74
1        Austria               7        606187.59       4090981.7
2        Belgium               7        283705.44      1931535.05
3         Canada               7        448157.12      4487022.38
4        Denmark               7         781357.5      7001114.13
5        Finland               9        988745.73     10096198.06
6         France              37       3160296.75     31414435.79
7        Germany               7        576293.44      4971660.94
8      Hong Kong               2         48784.36       780549.76
9        Ireland               2        115512.86       924102.88
10        Israel               0              nan             nan
11         Italy              10        945208.16     13243102.81
12         Japan               6        496898.36      4837611.16
13   Netherlands               0              nan             nan
14   New Zealand              15       1736137.04     17103366.48
15        Norway               9        848125.78      8870123.72
16   Philippines               3        282047.19      2444408.98
17        Poland               0              nan             nan
18      Portugal               0              nan             nan
19        Russia               0              nan             nan
20     Singapore               9       1038454.91     11503357.64
21  South Africa               0              nan             nan
22         Spain              36      12665636.19    212324133.02
23        Sweden               7        554287.75      6541197.26
24   Switzerland               2        235427.12      3649120.36
25            UK              13       1204373.23     15062563.97
26           USA             112      14228729.12    195745148.39

In [148]:
# 6. On veut la table de contigence du nombre de commande entre la ligne de produits et le pays du client

q6 = list(db.Orders.aggregate([
    # Associer chaque commande à son client pour récupérer le pays
    {
        "$lookup": {  
            "from": "Customers",
            "localField": "customerNumber",
            "foreignField": "customerNumber",
            "as": "customer"
        }
    },
    
    # Détacher le tableau customer pour accéder directement aux champs
    {
        "$unwind": {  
            "path": "$customer",
            "preserveNullAndEmptyArrays": True
        }
    },
    
    # Détacher chaque élément du tableau OrderDetails
    {
        "$unwind": {  
            "path": "$OrderDetails",
            "preserveNullAndEmptyArrays": True
        }
    },
    
    # Grouper par productLine, country, et orderNumber pour éviter les doublons
    {
        "$group": {  
            "_id": {
                "productLine": "$OrderDetails.productLine",  # Ligne de produit
                "country": "$customer.country",  # Pays du client
                "orderNumber": "$orderNumber"  # Identifier chaque commande unique
            }
        }
    },
    
    # Regrouper à nouveau par productLine et country
    {
        "$group": {  
            "_id": {
                "productLine": "$_id.productLine",
                "country": "$_id.country"
            },
            "numberOfOrders": {"$sum": 1}  # Compter les commandes uniques
        }
    },
    
    # Reformater les résultats
    {
        "$project": {  
            "productLine": "$_id.productLine",
            "country": "$_id.country",
            "numberOfOrders": 1,
            "_id": 0  # Supprimer le champ _id
        }
    },
    
    # Trier par productLine et country
    {
        "$sort": {  
            "productLine": 1,
            "country": 1
        }
    }
]))

# Affichage
pd.DataFrame(q6)[["productLine", "country", "numberOfOrders"]]

      productLine    country  numberOfOrders
0    Classic Cars  Australia              12
1    Classic Cars    Austria               5
2    Classic Cars    Belgium               2
3    Classic Cars     Canada               6
4    Classic Cars    Denmark               5
..            ...        ...             ...
121  Vintage Cars  Singapore               4
122  Vintage Cars      Spain              22
123  Vintage Cars     Sweden               4
124  Vintage Cars         UK              10
125  Vintage Cars        USA              67

[126 rows x 3 columns]

In [149]:
# 7. On veut la même table croisant la ligne de produits et le pays du client, mais avec le montant total payé dans chaque cellule

q7 = list(db.Orders.aggregate([
    # Associer chaque commande à son client
    {
        "$lookup": {  
            "from": "Customers",
            "localField": "customerNumber",
            "foreignField": "customerNumber",
            "as": "customer"
        }
    },
    
    # Détacher le tableau customer
    {
        "$unwind": {  
            "path": "$customer",
            "preserveNullAndEmptyArrays": True
        }
    },
    
    # Détacher chaque élément du tableau OrderDetails
    {
        "$unwind": {  
            "path": "$OrderDetails",
            "preserveNullAndEmptyArrays": True
        }
    },
    
    # Détacher chaque paiement du client
    {
        "$unwind": {  
            "path": "$customer.Payments",
            "preserveNullAndEmptyArrays": True
        }
    },
    
    # Grouper par ligne de produit et pays pour calculer le total payé
    {
        "$group": {  
            "_id": {
                "productLine": "$OrderDetails.productLine",  # Ligne de produit
                "country": "$customer.country"  # Pays du client
            },
            "totalPaidAmount": {"$sum": {"$ifNull": ["$customer.Payments.amount", 0]}}  # Somme des montants payés
        }
    },
    
    # Éliminer les doublons en regroupant à nouveau par productLine et country
    {
        "$group": {  
            "_id": {
                "productLine": "$_id.productLine",
                "country": "$_id.country"
            },
            "totalPaidAmount": {"$sum": "$totalPaidAmount"}  # Total final sans doublons
        }
    },
    
    # Reformater les résultats
    {
        "$project": {  
            "productLine": "$_id.productLine",
            "country": "$_id.country",
            "totalPaidAmount": 1,
            "_id": 0
        }
    },
    
    # Trier par productLine et country
    {
        "$sort": {  
            "productLine": 1,
            "country": 1
        }
    }
]))

# Affichage
pd.DataFrame(q7)[["productLine", "country", "totalPaidAmount"]]

      productLine    country  totalPaidAmount
0    Classic Cars  Australia       7504795.97
1    Classic Cars    Austria       1884419.42
2    Classic Cars    Belgium        166880.87
3    Classic Cars     Canada        774924.01
4    Classic Cars    Denmark       3678313.22
..            ...        ...              ...
121  Vintage Cars  Singapore       1941227.28
122  Vintage Cars      Spain      39878490.66
123  Vintage Cars     Sweden       1377094.16
124  Vintage Cars         UK       4673162.78
125  Vintage Cars        USA      47090713.86

[126 rows x 3 columns]

In [159]:
# 8. Donner les 10 produits pour lesquels la marge moyenne est la plus importante (cf buyPrice et priceEach)

q8 = list(db.Orders.aggregate([
    # Décompresser le tableau OrderDetails
    {
        "$unwind": { 
            "path": "$OrderDetails",
            "preserveNullAndEmptyArrays": False
        }
    },
    
    # Grouper par productCode et productName pour calculer la marge moyenne
    {
        "$group": {  
            "_id": {
                "productCode": "$OrderDetails.productCode",
                "productName": "$OrderDetails.productName"
            },
            "averageMargin": {
                "$avg": {
                    "$subtract": [
                        "$OrderDetails.priceEach",  # Prix de vente
                        "$OrderDetails.buyPrice"   # Prix d'achat
                    ]
                }
            }
        }
    },
    
     # Reformater les résultats
    {
        "$project": { 
            "productCode": "$_id.productCode",
            "productName": "$_id.productName",
            "averageMargin": 1,
            "_id": 0
        }
    },
    
    # Trier par la marge moyenne décroissante
    {
        "$sort": {  
            "averageMargin": -1
        }
    },

     # Prendre les 10 premiers produits
    {
        "$limit": 10  #
    }
]))

# Affichage
pd.DataFrame(q8)[["productCode", "productName", "averageMargin"]]

  productCode                           productName  averageMargin
0    S10_1949              1952 Alpine Renault 1300      99.006429
1    S10_4698  2003 Harley-Davidson Eagle Drag Bike      95.235000
2    S18_3232           1992 Ferrari 360 Spider red      83.334906
3    S12_2823                      2002 Suzuki XREO      83.201429
4    S18_2795                1928 Mercedes-Benz SSK      82.696786
5    S12_1108                     2001 Ferrari Enzo      81.043704
6    S12_3891                      1969 Ford Falcon      77.335926
7    S18_3685        1948 Porsche Type 356 Roadster      72.636800
8    S18_2870          1999 Indy 500 Monte Carlo SS      71.794400
9    S18_1749              1917 Grand Touring Sedan      70.432800

In [160]:
# 9. Lister les produits (avec le nom et le code du client) qui ont été vendus à perte :
#         - Si un produit a été dans cette situation plusieurs fois, il doit apparaître plusieurs fois
#         - Une vente à perte arrive quand le prix de vente est inférieur au prix d’achat

q9 = list(db.Orders.aggregate([

    # Détacher chaque élément de OrderDetails
    {
        "$unwind": {  
            "path": "$OrderDetails",
            "preserveNullAndEmptyArrays": False
        }
    },

    # Jointure avec la collection Customers
    {
        "$lookup": {  
            "from": "Customers",
            "localField": "customerNumber",
            "foreignField": "customerNumber",
            "as": "customer"
        }
    },

    # Détacher le tableau customer pour accéder aux champs
    {
        "$unwind": {  
            "path": "$customer",
            "preserveNullAndEmptyArrays": True
        }
    },

    # Filtrer les ventes à perte
    {
        "$match": {  
            "$expr": {
                "$lt": ["$OrderDetails.priceEach", "$OrderDetails.buyPrice"]  # Comparer priceEach et buyPrice
            }
        }
    },

    # Sélectionner les champs nécessaires
    {
        "$project": {  
            "productCode": "$OrderDetails.productCode",
            "productName": "$OrderDetails.productName",
            "customerName": "$customer.customerName",
            "customerNumber": "$customer.customerNumber",
            "priceEach": "$OrderDetails.priceEach",
            "buyPrice": "$OrderDetails.buyPrice",
            "_id": 0  # Exclure le champ _id
        }
    }
]))

# Affichage
pd.DataFrame(q9)

,productCode,productName,customerName,customerNumber,priceEach,buyPrice
0,S10_4962,1962 LanciaA Delta 16V,Online Diecast Creations Co.,363,61.99,103.42
1,S18_2957,1934 Ford V8 Coupe,Online Diecast Creations Co.,363,29.87,34.35
2,S18_3136,18th Century Vintage Horse Carriage,Online Diecast Creations Co.,363,47.04,60.74
3,S12_3148,1969 Corvair Monza,Vitachrome Inc.,181,54.33,89.14
4,S18_2319,1964 Mercedec Tour Bus,Vitachrome Inc.,181,37.48,74.86
...,...,...,...,...,...,...
74,S10_4962,1962 LanciaA Delta 16V,"Anna's Decorations, Ltd",276,46.90,103.42
75,S12_1666,1958 Setra Bus,"Anna's Decorations, Ltd",276,63.20,77.90
76,S18_2949,1913 Ford Model T Speedster,"Anna's Decorations, Ltd",276,45.25,60.78
77,S18_2238,1998 Chrysler Plymouth Prowler,"Down Under Souveniers, Inc",323,69.81,101.51
78,S12_1108,2001 Ferrari Enzo,Lyon Souveniers,250,69.12,95.59

In [ ]:
# Fermeture de la connexion
conn.close()